$firstBlack: #18181B;
$firstBlack: #27272A;
$nativeBlack: #000000;
$greenBlack: #01271C;
$footerBlack: #3F3F46;

$primary: #4CFDC7;
$red: #F43F5E;
$darkGray: #71717A;
$lightGray: #A1A1AA;

$tablet: 1024px;
$mobileL: 768px;
$mobileM: 520px;
$mobileS: 420px;

$br: 4px;